<block th:fragment="js">
    <!-- Core -->
    <script th:src="@{../../assets/vendor/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{../../assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js}"></script>
    <!-- Optional JS -->
    <script th:src="@{../../assets/vendor/chart.js/dist/Chart.min.js}"></script>
    <script th:src="@{../../assets/vendor/chart.js/dist/Chart.extension.js}"></script>
    <script th:src="@{../../assets/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>

    <!-- Argon JS -->
    <script th:src="@{../../assets/js/argon.js?v=1.0.0}"></script>
    <!--js md bootstrap-->
    <script th:src="@{../../assets/dist/MDB-Free_4.5.13/js/mdb.min.js}"></script>
    <script th:src="@{../../assets/dist/MDB-Free_4.5.13/js/popper.min.js}"></script>

</block>