<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head th:replace="fragment/head_1::head"> </head>

    <body>
        <!-- Sidenav -->
        <nav th:replace="fragment/slidebar_1::slidebar"> </nav>
        <!-- Main content -->
        <div class="main-content">
            <!-- Top navbar -->
            <nav th:replace="fragment/navbar_1::navbar"> </nav>
            <!-- Header -->
            <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(../../assets/img/brand/10000-Developpeurs-1.jpg); background-size: cover; background-position: center top;">
                <!-- Mask -->
                <span class="mask bg-gradient-default opacity-8"></span>
                <!-- Header container -->
                <div class="container-fluid d-flex align-items-center">
                    <div class="row">
                        <div class="col-lg-10 col-md-10">
                            <h1 class="display-12 text-white">Salut, <span th:text="${beneficiaire.prenom}"></span> <span th:text="${beneficiaire.nom}"></span></h1>
                            <p class="text-white mt-0 mb-5">"L'innovation, c'est une situation qu'on choisit parce qu'on a une passion brûlante pour quelque chose." - Steve Jobs</p>
                            <button class="btn btn-info" onclick="myFunction()">Editer profil</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page content -->
            <div class="container-fluid mt--7">
                <div class="row">
                    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
                        <div class="card card-profile shadow">
                            <div class="row justify-content-center">
                                <div class="col-lg-3 order-lg-2">
                                    <div class="card-profile-image">
                                        <a href="#">
                                            <img th:src="@{../../assets/img/brand/logocodeur.jpg}" class="rounded-circle">
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                                <div class="d-flex justify-content-between">
                                    <a href="#" class="btn btn-sm btn-danger mr-4">Alerter</a>
                                    <a href="#" class="btn btn-sm btn-default float-right">Versements</a>
                                </div>
                            </div>
                            <div class="card-body pt-0 pt-md-4">
                                <div class="row">
                                    <div class="col text-center">
                                        <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                            <div>
                                                <span th:text="${beneficiaire.montantVerse}" class="heading-small"></span>
                                                <span class="description">Verser</span>
                                            </div>
                                            <div>
                                                <span th:text="${beneficiaire.solde}" class="heading-small"></span>
                                                <span class="description">Solde</span>
                                            </div>
                                            <div>
                                                <span th:text="${beneficiaire.montantRestant}" class="heading-small">1500000</span>
                                                <span class="description">Reste</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <h3><span th:text="${beneficiaire.nom}"></span> <span th:text="${beneficiaire.prenom}"></span> </h3>
                                    <div class="h5 font-weight-300">
                                        <i class="ni location_pin mr-2"></i>Cote d'ivoire, Abidjan
                                    </div>
                                    <div class="h5 font-weight-300">
                                        <i class="ni location_pin mr-2"></i><span th:text="${beneficiaire.email}"></span>, <span th:text="${beneficiaire.tel}"></span>
                                    </div>
                                    <div class="h5 mt-4">
                                        <i class="ni business_briefcase-24 mr-2"></i><span th:text="${beneficiaire.promo.libelle}"></span>
                                    </div>
                                    <div class="h5 mt-4">
                                        <i class="ni business_briefcase-24 mr-2"></i><span th:text="${beneficiaire.matricule}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-8 order-xl-1">
                        <div class="card bg-secondary shadow">
                            <div class="card-header bg-white border-0">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h3 class="mb-0">Formulaire beneficiaire</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <form th:object="${beneficiaire}" th:action="@{/benef/ajouter}" method="post">
                                    <h6 class="heading-small text-muted mb-4">Information concernant le beneficiaire</h6>
                                    <div class="pl-lg-4">
                                        <div class="row">
                                            <input type="text" th:field="*{codeB}" style="display: none"/>
                                            <input type="text" style="display: none" name="promo_id" th:value="${beneficiaire.promo.id}"/>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-nom">Nom</label>
                                                    <input disabled="" type="text" id="input-nom" th:field="*{nom}" class="form-control form-control-alternative" placeholder="Username" value="lucky.jesse">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-prenom">Prenom(s)</label>
                                                    <input disabled="" type="text" id="input-prenom" th:field="*{prenom}" class="form-control form-control-alternative" placeholder="jesse@example.com">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-tel">Telephone</label>
                                                    <input disabled="" type="number" id="input-tel" th:field="*{tel}" class="form-control form-control-alternative" placeholder=" telephone">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="form-group">
                                                    <label class="form-control-label" for="input-email">Email</label>
                                                    <input disabled="" type="email" id="input-email" th:field="*{email}" class="form-control form-control-alternative" placeholder="Email">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <button type="submit" class="btn btn-info text-center">Valider</button>
                                    </div>
                                </form>
                            </div>
                        </div>  
                    </div>

                </div>
                <!-- Footer -->
                <footer th:replace="fragment/footer::footer"> </footer>
            </div>
        </div>
        <!-- Argon Scripts -->
    <block th:replace="fragment/js_1::js"> </block>

</body>

<script>
    function myFunction() {
        document.getElementById("input-nom").disabled = false;
        document.getElementById("input-prenom").disabled = false;
        document.getElementById("input-tel").disabled = false;
        document.getElementById("input-email").disabled = false;
    }
</script>

</html>